<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.damian.pregoadminapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/prego_pizza_logo_rgb"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".orderList"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".addTopping"
            android:label="@string/title_activity_add_topping"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".toppingList"
            android:label="@string/title_activity_topping_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pizzaList"
            android:label="@string/title_activity_pizza_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addPizza"
            android:label="@string/title_activity_add_pizza"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addOrder"
            android:label="@string/title_activity_add_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".updatePizza"
            android:label="@string/title_activity_update_pizza"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".updateOrder"
            android:label="@string/title_activity_update_order"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".customerOrder"
            android:label="@string/title_activity_customer_order"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>